# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=postgres
# DB_PASS=1234
# DB_NAME=escola

DATABASE_URL="postgresql://neondb_owner:npg_7LyJwWs1RkYK@ep-aged-silence-adcwgpdm-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NODE_ENV=development

JWT_SECRET=super_secret_key_alunos
JWT_EXPIRES_IN=1d